<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.solaceisle.mapper.AchievementMapper">

    <select id="getAchievementsIds" resultType="java.util.Map">
        select achievement_id,finish_time from user_achievement where student_id=#{studentId}
    </select>


</mapper>
