<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.solaceisle.mapper.AuthMapper">

    <insert id="register" parameterType="com.solaceisle.pojo.dto.RegisteDTO">
        insert into "user"(student_id, email,nickname, password) VALUES (#{studentId}, #{email}, #{nickname}, #{password})
    </insert>
    <select id="findPassword" parameterType="com.solaceisle.pojo.dto.FindPasswordDTO">
        update "user" set password = #{password} where email = #{email}
    </select>
</mapper>
