<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.solaceisle.mapper.DashboardMapper">
    <select id="getCurrentMood" resultType="com.solaceisle.pojo.entity.Diary">
        select * from diary where student_id=#{studentId} order by create_time desc limit 1
    </select>
    <select id="getRecentTrack" resultType="com.solaceisle.pojo.entity.Diary">
        select * from diary where student_id=#{studentId} order by create_time desc limit #{days}
    </select>


</mapper>
