<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solaceisle.mapper.DiaryMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.solaceisle.pojo.entity.Diary">
        insert into diary(student_id, emoji, emotion, text, image, tags, create_time,consecutive_days) VALUES
        (#{studentId}, #{emoji}, #{emotion}, #{text}, #{image}, #{tags}, #{createTime},#{consecutiveDays})
    </insert>

    <select id="findByStudentIdAndYearMonth" resultType="com.solaceisle.pojo.entity.Diary">
        SELECT id, student_id, emoji, emotion, text, image, tags, create_time
        FROM diary
        WHERE student_id = #{studentId}
        AND create_time between #{start} and #{end}
        ORDER BY create_time desc
    </select>
    <select id="findByStudentIdAndCreateTime" resultType="com.solaceisle.pojo.entity.Diary">
        select * from diary where student_id=#{currentId} and create_time=#{createTime}
    </select>
    <select id="getSumDiary" resultType="java.lang.Integer">
        select count(*) from diary where student_id=#{studentId}
    </select>
    <select id="getCurrentMood" resultType="com.solaceisle.pojo.entity.Diary">
        select * from diary where student_id=#{studentId} order by create_time desc limit 1
    </select>
    <select id="getRecentTrack" resultType="com.solaceisle.pojo.entity.Diary">
        select * from diary where student_id=#{studentId} order by create_time limit #{days}
    </select>
</mapper>

